<div class="mb-3 d-flex">
    <input
      type="text"
      class="form-control"
      placeholder="Search for products..."
      name="search"
      [(ngModel)]="text"
     
    />
    <button class="ms-2" (click)="onsearch()" style="background-color: blue; color: white;">Search</button>
    <button class="ms-2" (click)="onReset()" style="background-color: red; color: white;">Reset</button>
    <button class="ms-2" routerLink="/add-product" style="background-color: green; color: white;">Add</button>
    

  </div>
  