<div class="container mt-4">
  <h3>Add a New Card</h3>
  <form (ngSubmit)="addProduct()">
    <div class="mb-3">
      <label for="name" class="form-label">Card Name</label>
      <input
        name="name"
        type="text"
        class="form-control"
        [(ngModel)]="product.name"
        placeholder="Enter card name"
      />
    </div>
    <label for="name" class="form-label">Brand Name</label>

    <div class="mb-3">
      
      <input
        name="brand"
        type="text"
        class="form-control"
        [(ngModel)]="product.brand"
        placeholder="Enter brand"
      />
      
    </div>
  

    <div class="mb-3">
      <label for="price" class="form-label">standardPrice</label>
      <input
        name="standardPrice"
        type="number"
        class="form-control"
        [(ngModel)]="product.standardPrice"
        (ngModelChange)="updateDiscount()"
        placeholder="Enter standardPrice "
      />
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">currentPrice</label>
        <input
          name="currentPrice"
          type="number"
          class="form-control"
          [(ngModel)]="product.currentPrice"
          (ngModelChange)="updateDiscount()"
          placeholder="Enter price"
        />
      </div>

    <div class="mb-3">
      <label for="discount" class="form-label">Discount (%)</label>
      <input
      name="discount"
      type="number"
      class="form-control"
      [(ngModel)]="product.discount"
      (ngModelChange)="updateDiscount()"
      placeholder="Discount will be calculated automatically"
      readonly  >
    />
    </div>

    <div class="mb-3">
      <label for="imageUrl" class="form-label">Image URL</label>
      <input
        name="image"
        type="url"
        class="form-control"
        [(ngModel)]="product.image"
        placeholder="Enter image URL"
      />
      <div
       
        class="text-danger"
      >
      </div>
    </div>

    <button type="submit" class="btn btn-primary">
      Submit
    </button>
    <!-- <button type="button" class="btn btn-secondary ms-2" (click)="onReset()">
      Reset
    </button> -->
  </form>
</div>
